body,
#root {
  height: 100vh;
  min-height: 100vh;
}

#root {
  display: grid;

  grid-template-areas: "nav content";

  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;

  background-color: #222f3e;
}
