.section-heading {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;

  .title {
    flex: 1;

    h1,
    .bp3-editable-text {
      margin: 0;
      font-weight: bold;
      font-size: 20px;
      color: #2d2d2d;
    }

    h2 {
      margin: 3px 0 0 0;
      font-weight: 500;
      font-size: 11px;
      color: #c7c7c7;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    a:hover {
      text-decoration: none;

      * {
        opacity: 0.8;
      }

      &:active {
        * {
          opacity: 0.7;
        }
      }
    }
  }
}
